.home-container {
    height: calc(100vh - 70px);
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-title {
    font-weight: bold;
    font-family: Open Sans;
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    margin-top: 74px;

}

.home-subtitle {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #F2F2F2;
    margin-top: 100px;
}

.home-image {
    align-self: center;
    margin-top: 71px;
}

.home-login-content {
    background: #6C6C6C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px; 
    padding: 95px 51px 181px 51px;
    width: 551px;
}

.home-login-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    margin-bottom: 85px;
}

.home-login-container {
    padding-top: 40px;
    padding-left: 170px;
}

.home-input {
    height: 50px !important;
    border-radius: 10px !important;
}

.btn-home { 
    height: 70px;
    width: 380px;
    border-radius: 10px 0 0 10px !important;
    text-transform: uppercase;
}

.home-input-password {
    margin-bottom: 150px;
}

.btn-home-content {
    background-color:  #947b23;
    width: 70px;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}